<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Year Count Down</title>
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="../css/newyearcountdown.css">
    <script type="text/javascript" src="../js/newyearcountdown.js" async></script>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="../index.html">Main</a></li>
            <li><a href="../components/Check_User.html">Kiểm tra người dùng</a></li>
            <li><a href="../components/Clock.html">Đồng hồ kim</a></li>
            <li><a href="../components/NewYearCountDown.html">New Year Count Down</a></li>
            <li><a href="../components/Calculator.html">Máy tính</a></li>
        </ul>
    </div>
    <div class="sec-body">
        
    </div>
</body>
</html>