<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Year Count Down</title>
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="../css/newyearcountdown.css">
    <script type="text/javascript" src="../js/newyearcountdown.js" async></script>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="../index.html">Main</a></li>
            <li><a href="../components/Check_User.html">Kiểm tra người dùng</a></li>
            <li><a href="../components/Clock.html">Đồng hồ kim</a></li>
            <li><a href="../components/NewYearCountDown.html">New Year Count Down</a></li>
            <li><a href="../components/Calculator.html">Máy tính</a></li>
        </ul>
    </div>
    <div class="sec-body">
        <div class="container">
            <h2>New Year Countdown</h2>
            <div class="countdown">
                <div id="day">NA</div>
                <div id="hour">NA</div>
                <div id="minute">NA</div>
                <div id="second">NA</div>
            </div>
            <p>Time until <span id="dayOfWeek"></span>, 1 January <span id="year"></span></p>
            <div class="mountain">
                <div id="group1">
                    <span class="big pos-1"></span>
                    <span class="small pos-2"></span>
                    <span class="medium pos-3"></span>
                    <span class="medium pos-4"></span>
                    <span class="big pos-5"></span>
                </div>
                <div id="group2">
                    <span class="small pos-7"></span>
                    <span class="small pos-8"></span>
                    <span class="small pos-9"></span>
                </div>
                <div id="group3">
                    <span class="small pos-10"></span>
                    <span class="small pos-11"></span>
                    <span class="small pos-12"></span>
                    <span class="small pos-13"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>